@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(myForm: Form[Person])

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {

    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
    *@

    @helper.form(action = routes.HomeController.addPerson(), 'id -> "myForm") {

        @helper.inputText(myForm("name"), 'id -> "name", 'size -> 30, '_class -> "tinytfss")
        @helper.inputText(myForm("nick"), 'id -> "nick", 'size -> 30, '_class -> "tinytfss")

        <input type="submit" value="Add Person" />
    }
}
